/* BACKGROUND STYLES */

.backgroundImage {
  background-image: url('/Beach.JPG'); /* Adjust the path as needed */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}

.mainLogoWrapper {
  width:100vw;
  height: 100vh;
  padding: 10% 5% 5% 5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}